cvxpy==1.1.11
genpy==0.6.14
gym==0.18.0
lxml==4.6.2
matplotlib==3.3.4
numpy==1.19.2
open3d==0.12.0
pandas==1.2.3
plyfile==0.7.3
pybullet==3.1.8
scipy==1.6.1
sensor_msgs==1.12.8
tensorboardX==2.5.1
tensorwatch==0.9.1
torch==1.8.0
transforms3d==0.3.1
trimesh==3.9.8
vtk==9.1.0
rospkg
